.container {
  background-color: #b7d9b4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título central */
.titulo {
  font-size: 36px;
  font-weight: 700;
  color: #333;
}

/* Card grande */
.card {
  width: 90%;
  max-width: 100%;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Formulário com espaçamento */
.formulario {
  gap: 5px;
  margin: 0 auto;
  padding: 40px;
  background-color: #8ae28a8a;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;  

}

/* Labels e inputs alinhados lado a lado */
.campoVcl {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  color: #1e1e1e;
}

/* Label fixo à esquerda */
.campoVcl label {
  width: 30%;
}

/* Inputs grandes */
.campoVcl input {
  flex: 1;
  padding: 10px;
  background: white;
  color: #111;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  margin:5px;
}

.campoVcl select {
  flex: 1;
  padding: 10px;
  background: white;
  color: #111;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  margin:5px
}



/* Botão CADASTRAR */
.btn-cadastrar {
  margin-top: 20px;
  padding: 15px 35px;
  font-size: 20px;
  border-radius: 12px;
  border: 1px solid #777;
  background: #0f766e;
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
}
