.content-EsqueceuSenha-1{
  height: 100%;
}

.content-EsqueceuSenha{
  height: 100%;
}

.form-EsqueceuSenha {
  gap: 5px;
  margin: 0 auto;
  padding: 50px;
  background-color: #8ae28a8a;
  width: 60%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;  

}


.campoUsr {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  color: #1e1e1e;
}

/* Label fixo à esquerda */
.campoUsr label {
  width: 30%;
}

/* Inputs grandes */
.campoUsr input {
  flex: 1;
  padding: 10px;
  background: white;
  color: #111;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  margin:5px;
}

.campoUsr select {
  flex: 1;
  padding: 10px;
  background: white;
  color: #111;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  margin:5px
}


.areabutton{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}


.btn{
  width: 50%;
  font-size: 1.5rem;
  margin: 0 auto;
}

