.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: greenyellow;
    gap: 1rem;
    height: 4rem;
    font-size: 2.5rem;
}

.logo img{
    height: 5rem;
    width: 5rem;
}