:root {
  --black: #1e1e1e;
  --white: #fff;
}

.header{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #B1EF97;
    gap: 1rem;
    height: 4rem;
    font-size: 2.5rem;
}

.logo img{
    height: 5rem;
    width: 5rem;
}

/* botões header */

.btn-header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.btn-header li{
    list-style: none;
    font-size: 1.2rem;
}

.btn-header-link{
    color: var(--black);
    cursor: pointer;
}

.btn-login-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 7rem;
    border-radius: 30px;
}

.btn-login{
    background-color: #2B6CB0;
    color: var(--white);
    cursor: pointer;
}

.btn-logout{
    background-color: #2B6CB0;
    color: var(--white);
    cursor: pointer;
}
.btn-cadastro{
    background-color: #F6AD55;
    color: var(--black);
    cursor: pointer;
}

/* appLayout */
.appLayout{
    background-color: red;
    display: flex;
    flex-direction: column;
}