.content-login-1{
  height: 100%;
}

.content-login{
  height: 100%;
}

.form-login{
  margin: 0 auto;
  padding: 40px;
  background-color: #8ae28a8a;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
}

.form-login div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}

p{
  color: #111;
  font-size: 1.5rem;
}

input{
  margin-top: 5px;
  width: 80%;
  height: 100%;
  background-color: #fff;
  padding-left: 15px;
  border-radius: 7px;
  font-size: 1.3rem;
  border: none;
}

.areabutton{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.esqueceuSenha{
  margin: 0 auto;
  font-size: 1.3rem;
  padding-top: 10px;
  color: #111;
  text-decoration:underline;
}

.esqueceuSenha:hover{
  cursor: pointer;
}

.btn{
  width: 50%;
  font-size: 1.5rem;
  margin: 0 auto;
}

